/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NeonDisco Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'
    
profiles {

    local {
        process.executor = 'local'
        docker.enabled = true
        params.arriba_db = '/home/suffian/libs/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir'
        params.fuscat_db = '/home/suffian/libs/fuscat-db/human_v102'
        params.agfusion_db = '/home/suffian/libs/agfusion-db'
        params.output_dir = "${projectDir}/outputs"
    }

    awsbatch {
        // includeConfig 'conf/awsbatch.config'
        process.executor = 'local'
        docker.enabled = true
        params.arriba_db = "${HOME}/libs/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir"
        params.fuscat_db = "${HOME}/libs/test-fuscat-db"
        params.agfusion_db = "${HOME}/libs/agfusion-db"
    }

}
