/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NeonDisco Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options for all compute environments
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'
    
profiles {

    local {
        workDir = "work"
        cleanup = false
        process.executor = 'local'
        docker.enabled = true
        params.arriba_db = "${HOME}/libs/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir"
        params.fuscat_db = "${HOME}/libs/fuscat-db/human_v102"
        params.agfusion_db = "${HOME}/libs/agfusion-db"
        params.bowtieIndex_db = "${HOME}/libs/hla_genes_idx"
        params.output_dir = "${projectDir}/outputs"
    }

    awsbatch {
        // includeConfig 'conf/awsbatch.config'
        process.executor = 'local'
        docker.enabled = true
        params.arriba_db = "${HOME}/libs/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir"
        params.fuscat_db = "${HOME}/libs/test-fuscat-db"
        params.agfusion_db = "${HOME}/libs/agfusion-db"
    }

    s3local {
        workDir = "/data/nf-works"
        params.output_dir = "${projectDir}/outputs"
        process.executor = 'local'

        docker.enabled = true
        params.arriba_db = "${HOME}/libs/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir"
        params.fuscat_db = "${HOME}/libs/fuscat-db/human_v102"
        params.agfusion_db = "${HOME}/libs/agfusion-db"
        params.bowtieIndex_db = "${HOME}/libs/hla_genes_idx"
        

        aws.accessKey = 'AKIAWTM4TINMCCUKSEEX'
        aws.secretKey = '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'
        aws.region = 'ap-southeast-1'
    }

}
