docker.enabled = true

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/

// Define the input parameters
params {
    help = false
    input_dir = false
    ft_caller = false
    arriba_db = '/home/suffian/libs/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir'
    fuscat_db = '/home/suffian/libs/fuscat-db/human_v102'


    // Set the containers to use for each component
    container__arriba = "sufyazi/arriba-crm"
    container__fuscat = "sufyazi/fusioncatcher-crm"

}