params {

    help = false

    // Run options
    num_cores = 4
    bin_dir = "${projectDir}/bin"
    ftcaller = 'both'
    hla_typing = false
    hla_only = false
    trimming = false

    // Input and output directories
    input_dir = false
    output_dir = false
    hla_typing_dir = false
    manifest_path = false

    // AWS s3 parameters
    s3_bucket = 's3://crm.gb/neondisco'
    s3_outdir = false

    // Containers for submodules
    container__preproc = "sufyazi/preproc-crmy"
    container__hlahd = "sufyazi/hlahd-crmy"
    container__arcashla = "sufyazi/arcashla-crmy"
    container__arriba = "sufyazi/arriba-crmy"
    container__fuscat = "sufyazi/fusioncatcher-crmy"
    container__agfusion = "sufyazi/agfusion-crmy"
    container__pyenv = "sufyazi/pyenv-crmy"
    container__spladder = "sufyazi/spladder-crmy"
    container__pvactools = "sufyazi/pvactools-crmy"

    // Default tool-related db and lib dependency files (make sure they exist!!)
    arriba_db = "${HOME}/libs/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir"
    fuscat_db = "${HOME}/libs/fuscat-db/human_v102"
    agfusion_db = "${HOME}/libs/agfusion-db"
    bowtieIndex_db = "${HOME}/libs/hla_genes_idx"
}