params {

    help = false

    // Run options
    numCores = 4
    binDir = "${projectDir}/bin"
    ftCaller = 'both'
    hlaTypingOnly = false
    trimReads = true
    cleanupIntermediates = true

    // Input and output directories
    inputDir = false
    outputDir = "./outputs"
    manifestPath = false

    // Containers for submodules
    container__preproc = "sufyazi/preproc-crmy"
    container__hlahd = "sufyazi/hlahd-crmy"
    container__arcashla = "sufyazi/arcashla-crmy"
    container__arriba = "sufyazi/arriba-crmy"
    container__fuscat = "sufyazi/fusioncatcher-crmy"
    container__agfusion = "sufyazi/agfusion-crmy"
    container__pyenv = "sufyazi/pyenv-crmy"
    container__spladder = "sufyazi/spladder-crmy"
    container__pvactools = "sufyazi/pvactools-crmy"

    // Default tool-related db and lib dependency files
    arribaDB = "${HOME}/refs/GRCh38_gencode_v37_CTAT_lib_Mar012021.plug-n-play/ctat_genome_lib_build_dir"
    fuscatDB = "${HOME}/refs/fuscat-db/human_v102"
    agfusionDB = "${HOME}/refs/agfusion-db"
    bowtieIndexDB = "${HOME}/refs/hla_genes_idx"
}