params {

    help = false

    // Run options
    inputSource = null
    numCores = 8
    binDir = "${projectDir}/bin"
    ftCaller = 'both'
    hlaTypingOnly = false
    trimReads = true
    deleteIntMedFiles = false
    deleteStagedFiles = true
    sampleSpecificNeoPeptidePrediction = true
    cohortWideNeoPeptidePrediction = true

    // Recurrent fusion detection mode
    recurrentFusionMode = false
    recurrenceThreshold = 0.005  // 0.5% threshold for recurrent fusions; change if needed

    // Input and output directories
    inputDir = false
    outputDir = "./outputs"
    manifestPath = false

    // Containers for submodules
    container__preproc = "sufyazi/preproc-crmy"
    container__hlahd = "sufyazi/hlahd-crmy"
    container__arcashla = "sufyazi/arcashla-crmy"
    container__arriba = "sufyazi/arriba-crmy"
    container__fuscat = "sufyazi/fusioncatcher-crmy"
    container__agfusion = "sufyazi/agfusion-crmy"
    container__pyenv = "sufyazi/pyenv-crmy"
    container__starfusion = "sufyazi/starfusion-crmy"
    container__pvactools = "sufyazi/pvactools-crmy"

    // Default tool-related db and lib dependency files
    starIndex = "${System.env.HOME}/refs/star-db/GRCh38viral_ENSEMBL113/STAR_index_GRCh38viral_ENSEMBL113"
    arribaDB = "${System.env.HOME}/refs/star-db/GRCh38viral_ENSEMBL113"
    fuscatDB = "${System.env.HOME}/refs/fuscat-db/hs_ensembl_v113"
    ctatDB = "${System.env.HOME}/refs/ctat-db/ctat_genome_lib_build_dir"
    bowtieIndexDB = "${System.env.HOME}/refs/hla_genes_idx"

    // Panel of Normals file
    panelOfNormalsPq = "${projectDir}/misc/metadata/TCGANormals-FTs-with-UNIQUE-breakpointIDs-v3.parquet"
    babiNormalsPq = "${projectDir}/misc/metadata/Babiceanu-et-al-normal-tissue-fusions-hg38-lifted.parquet"
    panelOfCCLEInternalsPq = "${projectDir}/misc/metadata/01-CCLE+internal-ALL-FT-UNFILTERED.parquet"
    gaoFusionsPq = "${projectDir}/misc/metadata/Gao-TCGA-fusion-set.recolumned.parquet"
    mitelmanFusionsPq = "${projectDir}/misc/metadata/Mitelman_Fusions_with_tumAnnots.parquet"
    klijnFusionsPq = "${projectDir}/misc/metadata/Klijn-et-al-hg38-lifted-cancer-cell-line-fusions.parquet"
    ponsOutputName = false

}