/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NeonDisco Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options separated into run profiles
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

// Load base.config by default for all pipelines
includeConfig 'base.config'

profiles {
    'persoMode-local' {
        process.executor = 'local'
        workDir = "work"
        docker.enabled = true
        executor.memory = '120 GB'
        dag.overwrite = true
        
        params {
            sampleLevelHLANeoPred = true
            cohortLevelHLANeoPred = false
            recurrentFusionsOnly = false


            // Containers for submodules
            container__preproc = "sufyazi/preproc-crmy"
            container__hlahd = "sufyazi/hlahd-crmy"
            container__arcashla = "sufyazi/arcashla-crmy"
            container__arriba = "sufyazi/arriba-crmy"
            container__fuscat = "sufyazi/fusioncatcher-crmy"
            container__agfusion = "sufyazi/agfusion-crmy"
            container__pyenv = "sufyazi/pyenv-crmy"
            container__starfusion = "sufyazi/starfusion-crmy"
            container__pvactools = "sufyazi/pvactools-crmy"
        }
    }
    
    'popMode-local' {
        process.executor = 'local'
        workDir = "work"
        docker.enabled = true
        executor.memory = '200 GB'
        dag.overwrite = true
        
        params {
            sampleLevelHLANeoPred = false
            cohortLevelHLANeoPred = true
            recurrentFusionsOnly = true

            // Containers for submodules
            container__preproc = "sufyazi/preproc-crmy"
            container__hlahd = "sufyazi/hlahd-crmy"
            container__arcashla = "sufyazi/arcashla-crmy"
            container__arriba = "sufyazi/arriba-crmy"
            container__fuscat = "sufyazi/fusioncatcher-crmy"
            container__agfusion = "sufyazi/agfusion-crmy"
            container__pyenv = "sufyazi/pyenv-crmy"
            container__starfusion = "sufyazi/starfusion-crmy"
            container__pvactools = "sufyazi/pvactools-crmy"
        }
    }

    'aws-batch' {
        aws.region = 'ap-southeast-5'
        aws.batch.cliPath = '/usr/bin/aws'
        workDir = 's3://crmy-aws-batch-nf/'
        process {
            executor = 'awsbatch'
            queue = 'aws-batch-nf-ondemand'

            withLabel: trimReads {
                container = "docker.io/sufyazi/preproc-crmy"
            }
            withLabel: filterReadsEasyfuse {
                container = "docker.io/sufyazi/pyenv-crmy"
            }
            withLabel: alignStarGeneral {
                container = "docker.io/sufyazi/preproc-crmy"
            }
            withLabel: convertFilteredReads {
                container = "docker.io/sufyazi/preproc-crmy"
            }
            withLabel: alignStarArriba {
                container = "docker.io/sufyazi/preproc-crmy"
            }
            withLabel: callFusionsArriba {
                container = "docker.io/sufyazi/arriba-crmy"
            }
            withLabel: callFusionsFC {
                container = "docker.io/sufyazi/fusioncatcher-crmy"
            }
            withLabel: callFusionsSF {
                container = "docker.io/sufyazi/starfusion-crmy"
            }
            withLabel: collateCustomPons {
                container = "docker.io/sufyazi/pyenv-crmy"
            }
            withLabel: aggregateCustomPons {
                container = "docker.io/sufyazi/pyenv-crmy"
            }
        }     
        params {
            sampleLevelHLANeoPred = false
            cohortLevelHLANeoPred = true
            recurrentFusionsOnly = true
        }
    }
}
