/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NeonDisco Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options separated into run profiles
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

// Load base.config by default for all pipelines
includeConfig 'base.config'

profiles {
    'persoMode-local' {
        process.executor = 'local'
        workDir = "work"
        docker.enabled = true
        executor.memory = '120 GB'
        dag.overwrite = true
        
        params {
            sampleLevelHLANeoPred = true
            cohortLevelHLANeoPred = false
            recurrentFusionsOnly = false
        }
    }
    
    'popMode-local' {
        process.executor = 'local'
        workDir = "work"
        docker.enabled = true
        executor.memory = '200 GB'
        dag.overwrite = true
        
        params {
            sampleLevelHLANeoPred = false
            cohortLevelHLANeoPred = true
            recurrentFusionsOnly = true
        }
    }

    awsbatch {
        // includeConfig 'awsbatch.config'
        process.executor = 'awsbatch'
        docker.enabled = true
        workDir = "s3://crmy-aws-batch-nf/"
        dag.overwrite = true
        process.queue = 'aws-batch-nextflow'
        process {
            withLabel: trimReads {
            container = "${params.container__preproc}"
            }
            withLabel: filterReadsEasyfuse {
                container = "${params.container__pyenv}"
            }
            withLabel: alignStarGeneral {
                container = "${params.container__preproc}"
            }
            withLabel: convertFilteredReads {
                container = "${params.container__preproc}"
            }
            withLabel: alignStarArriba {
                container = "${params.container__preproc}"
            }
            withLabel: callFusionsArriba {
                container = "${params.container__arriba}"
            }
            withLabel: callFusionsFC {
                container = "${params.container__fuscat}"
            }
            withLabel: callFusionsSF {
                container = "${params.container__starfusion}"
            }
            withLabel: collateCustomPons {
                container = "${params.container__pyenv}"
            }
            withLabel: aggregateCustomPons {
                container = "${params.container__pyenv}"
            }
}       
        params {
            sampleLevelHLANeoPred = false
            cohortLevelHLANeoPred = true
            recurrentFusionsOnly = true
        }

        aws.region = 'ap-southeast-5'
    
    }
}