/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    NeonDisco Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Default config options separated into run profiles
----------------------------------------------------------------------------------------
*/

// Global default params, used in configs

// Load base.config by default for all pipelines
includeConfig 'base.config'

profiles {

    // ========== EXECUTOR PROFILES ==========
    'local' {
        workDir = "work-dir"
        executor.memory = '200 GB'
        dag.overwrite = true
        docker.enabled = true

        params {
            starIndex = "${System.env.HOME}/refs/star-db/GRCh38viral_ENSEMBL113/STAR_index_GRCh38viral_ENSEMBL113"
        }

        process {
            executor = 'local'
            withLabel: 'trimReads' {
                containerOptions = "--rm --name TRIM-READS"
                //"--rm --env \"MHF_HOST_UID=\$(id -u)\" --env \"MHF_HOST_GID=\$(id -g)\" --name TRIM-READS -v \$(pwd):/home/app/nf_work -v ${params.binDir}:/home/app/scripts"
            }
            withLabel: 'alignReads2Pass' {
                containerOptions = "--rm --name ALIGNMENT-2P -v ${params.starIndex}:/tmp/starIdx"
                //"--rm --env \"MHF_HOST_UID=\$(id -u)\" --env \"MHF_HOST_GID=\$(id -g)\" --name ALIGNMENT-2P -v \$(pwd):/home/app/nf_work -v ${params.binDir}:/home/app/scripts"
            }
            withLabel: 'alignReadsGeneral' {
                containerOptions = "--rm --name ALIGNMENT-STARGENERAL -v ${params.starIndex}:/tmp/starIdx"
                //"--rm --env \"MHF_HOST_UID=\$(id -u)\" --env \"MHF_HOST_GID=\$(id -g)\" --name ALIGNMENT-STARGENERAL -v \$(pwd):/home/app/nf_work -v ${params.binDir}:/home/app/scripts"
            }
            withLabel: 'alignReadsArriba' {
                containerOptions = "--rm --name ALIGNMENT-ARRIBA -v ${params.starIndex}:/tmp/starIdx"
                //"--rm --env \"MHF_HOST_UID=\$(id -u)\" --env \"MHF_HOST_GID=\$(id -g)\" --name ALIGNMENT-ARRIBA -v \$(pwd):/home/app/nf_work -v ${params.binDir}:/home/app/scripts"
            }
        }
    }

    'awsbatch' {
        workDir = 's3://crmy-aws-batch-nf/' // PLEASE CHANGE THIS TO YOUR OWN BUCKET
        dag.overwrite = true

        aws.region = 'ap-southeast-5'
        aws.batch.cliPath = '/opt/conda/bin/aws' // Path to AWS CLI in all Docker containers

        params {
            starIndex = "s3://crmy-neondisco-reference-files/star-db/GRCh38viral_ENSEMBL113/STAR_index_GRCh38viral_ENSEMBL113"
        }

        process {
            executor = 'awsbatch'
            queue = 'aws-batch-nextflow-spot-Q'

            withLabel: trimReads {
                container = "job-definition://trim-reads-preproc-crmy-nf"
            }
            withLabel: filterReadsEasyfuse {
                container = "sufyazi/pyenv-crmy"
            }
            withLabel: alignStarGeneral {
                container = "sufyazi/preproc-crmy"
            }
            withLabel: convertFilteredReads {
                container = "sufyazi/preproc-crmy"
            }
            withLabel: alignStarArriba {
                container = "sufyazi/preproc-crmy"
            }
            withLabel: callFusionsArriba {
                container = "sufyazi/arriba-crmy"
            }
            withLabel: callFusionsFC {
                container = "sufyazi/fusioncatcher-crmy"
            }
            withLabel: callFusionsSF {
                container = "sufyazi/starfusion-crmy"
            }
            withLabel: collateCustomPons {
                container = "sufyazi/pyenv-crmy"
            }
            withLabel: aggregateCustomPons {
                container = "sufyazi/pyenv-crmy"
            }
        }     
    }

    // ========== MODE PROFILES ==========
    
    'personalizedNeo' {
        params {
            sampleLevelHLANeoPred = true
            cohortLevelHLANeoPred = false
            recurrentFusionsOnly = false
        }
    }

    'sharedNeo' {
        params {
            sampleLevelHLANeoPred = false
            cohortLevelHLANeoPred = true
            recurrentFusionsOnly = true
        }
    }
}

